
.sub{display: none;overflow: hidden;background: #fff;position: absolute;top: 76px;left: 0;width: 100%;}
.center{width: 960px;margin: 0 auto;padding: 10px;overflow: hidden;}
.center img,.center .words{float: left;}
.center .words{width: 520px;height: 160px;margin-left: 80px;}
.center .words a{font-size:14px;width: 70px;height: 41px;line-height: 40px;font-weight: bold;}
.video{width: 100%;position: fixed;bottom: 0;left: 0;overflow: hidden;background: #000;}
.cd{float: left;width: 60px;height: 60px;margin: 10px 30px 0 30px;}
.img{float: left;width: 75px;overflow: hidden;}

.center span.cdtitle{color: #fff;display:block;font-size:20px;}
.music-nav{margin: 5px 0 0 30px;color: #fff;float: left;height:70px;width:600px;font-size:16px;}
.music-nav input{width: 450px;height: 0.25rem;background-color: #888;-webkit-appearance: none;outline: none;}

.tabAccent{float:right;overflow:hidden;}
.tabAccent a{text-align:center;color:#fff;width:120px;height:27px;line-height:27px;display:block;margin:5px 0;border: 1px solid #fff;}
.tabAccent a.on{color:#000;background: #fff;}

