.back,body,html{overflow:hidden;width:100%;height:100%}
.back,.galaxy,.homeIcon,.plant1,.plant2,.resetlangIcon{position:absolute}
.galaxy{top:15%;left:10%;width:13pc;height:8pc;background:url(../img/login/login_galaxy.png)}
.plant1{top:10%;left:55%;width:6pc;height:6pc;background:url(../img/login/login_planet1.png)}
.plant2{top:25%;left:85%;width:9pc;height:9pc;background:url(../img/login/login_planet2.png)}
.homeIcon{right:75pt;background:url(../img/lang/lang_main_01.png) no-repeat}
.homeIcon,.resetlangIcon{top:20px;width:39px;height:39px}
.resetlangIcon{right:40px;background:url(../img/lang/lang_main_02.png) no-repeat}
#loginForm{position:absolute;top:50%;left:50%;margin-top:-200px;margin-left:-247px;width:493px;height:357px;background:url(../img/login/login_02.png);text-align:center}
h1{color:#fff;text-shadow:0 1px 4px rgba(0,0,0,.2);font-weight:500;font-size:24px}
.subtitle{margin-top:30px}
.inputpanel{overflow:hidden;margin:0 auto;margin-top:9pt;width:358px;height:53px;background:url(../img/login/login_04.png);line-height:30px}
.validatepanel{position:relative;left:68px;float:left;width:230px;background:url(../img/login/login_03.png)}
.username{margin-top:35px}
.icon{float:left;margin-top:11px;margin-left:25px;width:30px;height:30px}
.usericon{background:url(../img/login/login_user.png)}
.pwdicon{background:url(../img/login/login_pass.png)}
.validicon{background:url(../img/login/login_rand.png)}
.slide{margin-top:9pt;width:1px;height:28px;background:url(../img/login/login_05.png)}
.inputContainer,.slide{float:left;margin-left:15px}
.inputContainer{margin-top:7px;width:260px;height:40px}
.validContainer{width:130px}
.inputContainer input{display:block;width:100%;height:100%;outline:0;border:none;background:url(../img/login/transparent.png);color:#000;letter-spacing:4px;font-size:1pc;font-family:Microsoft YaHei;vertical-align:central;line-height:30px}
.inputContainer input::-webkit-input-placeholder{letter-spacing:0}
.inputContainer input::-moz-placeholder{letter-spacing:0}
.inputContainer .pwdInput{letter-spacing:10px}
.error{position:absolute;top:107px;left:440px;display:none;width:1pc;height:1pc;background:url(../img/login/error.png) no-repeat}
.password .error{top:173px}
.validerror{position:relative;display:none;margin-top:30px;margin-left:440px;width:1pc;height:1pc;background:url(../img/login/error.png) no-repeat}
.validImg{margin-top:16px;margin-left:83px;width:110px;height:42px;border:solid;border-color:#d3d3d3;border-width:1px;background:url(../img/login/rand.png) no-repeat}
.loginBtn,.validImg{position:relative;float:left}
.loginBtn{top:15px;left:68px;overflow:hidden;width:355px;height:52px;background:url(../img/login/login_01.png);line-height:30px;cursor:pointer}
.loginBtn .loginText{margin-top:10px}
.footer{position:absolute;bottom:0;width:100%;height:50px;background:#000;text-align:center;font-size:14px;font-family:Microsoft YaHei;line-height:50px;opacity:.6}
