
#pageInitHtml{margin-top:20px;}
#pageInitHtml *{font-family:"Microsoft Yahei";color:#ebb450;font-size:16px;}
/* #pageInitHtml input.on{background-color: #c0c0c0;} */
#pageInitHtml input.condition{width:50px;height:30px;border:none;background:transparent;}
#inputNum{color:#666;}
