.userInfoText{position:absolute;top:10%;left:50%;margin-left:-700px;width:1200px;height:auto;text-align:left}
.everyone{margin-top:inherit;margin:0 auto 0 auto;width:900px;height:auto;text-align:left}
.self{margin-top:inherit;margin:0 auto 0 auto;width:900px;height:auto;text-align:left}

.subtitle{margin-top:inherit;margin:1cm auto -22px 0;width:200px;height:30px;background-color:#f4e6f4}
.tips{margin:0 auto 0 5cm;text-align:left;text-indent:40px; word-spacing:10px;letter-spacing:2px;color:#b0aeaf;font-size: 14px;}
.subtitle_text{text-align:left;text-indent:40px; word-spacing:10px;letter-spacing:2px;color:#f97474;font-size: 16px;font-weight: bold}

.item{margin-top:inherit;margin:15px;}
.name{width:190px;text-align:left;text-indent:40px; word-spacing:10px;letter-spacing:2px;color:#444242;font-size: 16px;}
.content{width:260px;text-align:left;text-indent:20px; word-spacing:10px;letter-spacing:2px;color:#ffa922;font-size: 16px;}
.opt{text-align:left;text-indent:40px; word-spacing:10px;letter-spacing:2px;color:#424ff8;font-size: 16px;cursor:pointer}
.input{width:240px;height:25px;border:0 solid #c8b748;border-radius:2px;text-align:left;text-indent:10px; word-spacing:10px;letter-spacing:2px;color:#ffa922;font-size: 16px;}

#sure{text-align:center;background-color:#3cbf87;width:150px;height:30px;word-spacing:10px;letter-spacing:3px;font-size:14px;font:bold 20px arial;color:#303827 ;border-radius:5px;}

.backgrund_frame{position:absolute;top:25%;left:50%;margin-left:-350px;width:700px;height:357px;background:url(../img/reg/frame_0.png);text-align:center}
.input_area{margin-top:inherit;margin:1cm auto 1cm auto;width:400px;height:180px;text-align:center}
.button_area{margin-top:inherit;margin:1cm auto 1cm auto;width:400px;height:100px;text-align:center}

