html,body{margin: 0;padding: 0;font-family: "MIcrosoft YaHei";font-size: 100px;}
a,ul,li,span,input{display: inline-block;}

.cont{width: 100%;overflow: hidden;margin: 0;position: relative;}
.cont img{width: 100%;}
.title{font-size: 0.18rem;color: #333;width: 100%;float:left;line-height: 0.3rem;}
.cont a{font-size: 0.14rem;color: #fff;overflow: hidden;margin: 1px 0;float: left;}
.cont a span{position: absolute;top: 50%;left: 45%;margin-top: -0.3rem;height: 0.6rem;line-height: 0.2rem;width: 50%;}
.cont a.contB span{color: #ebb450;left: 5%;}